[submodule "buildtools"]
	path = buildtools
	url = https://github.com/Steveice10/buildtools.git
[submodule "libraries/buildtools"]
	path = libraries/buildtools
	url = https://github.com/Steveice10/buildtools.git
[submodule "libraries/stb"]
	path = libraries/stb
	url = https://github.com/nothings/stb.git
[submodule "libraries/SFML-Switch"]
	path = libraries/SFML-Switch
	url = https://github.com/TomBebb/SFML-switch.git
