[submodule "buildtools"]
	path = buildtools
	url = https://github.com/Steveice10/buildtools.git
[submodule "libraries/buildtools"]
	path = libraries/buildtools
	url = https://github.com/Steveice10/buildtools.git
