[submodule "buildtools"]
	path = buildtools
	url = https://github.com/Steveice10/buildtools.git
[submodule "libraries/buildtools"]
	path = libraries/buildtools
	url = https://github.com/Steveice10/buildtools.git
[submodule "libraries/stb"]
	path = libraries/stb
	url = https://github.com/nothings/stb.git
[submodule "libraries/nGL"]
	path = libraries/nGL
	url = git@github.com:Vogtinator/nGL.git
