#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=SuperHaxagon
Comment=A Super Hexagon Clone
Exec=/app/SuperHaxagon
Icon=net.awalter.SuperHaxagon
Terminal=false
Categories=Game;ArcadeGame;
